* {
    margin: 0;
    padding: 0;
  }
  #p{
    margin-top: 4%;
  }
  img{
    width: 2.7%;
    position:absolute;
    margin-left: -2.25%;
    margin-top: -0.02%;
    /* border: 0.5px solid; */
  }
  p {
    text-align: center;
    line-height: 60px;
    font-size: 1.4rem;
    font-family: "poppins", sans-serif;
  }
  #box {
    margin: auto;
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  #box1 button{
    padding: 5px 30px 0px 30px;
    /* margin-top: -2px; */
    font: 14px Roboto;
    color: aliceblue;
    border: 1px solid;
    background-color: #3B5998;
    /* border-radius: 5px; */

  }
  #box2 button{
    /* padding: 7px 20px 5px 42px;
    font: 14px Roboto;
    color: aliceblue;
    border: 1px solid;
    background-color: rgb(213, 25, 25);
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 7px; */


    padding: 5px 30px 0px 30px;
    margin-top: -2px;
    font: 14px Roboto;
    color: aliceblue;
    border: 1px solid;
    background-color: rgb(213, 25, 25);
    /* border-radius: 5px; */

  }
  #google{
    border: 0.8px solid rgb(213, 25, 25);
    width: 2.36%;
    margin-top: -0.07%;
  }
  #box1>button:hover{
    background-color: #102a62;
    cursor: pointer;
  }
   #box2>button:hover {
    background-color: rgb(130, 30, 30);
    cursor: pointer;
    transition: 0.3s;
  } 

  a {
    text-decoration: none;
   color: white;
    /* margin-left: 10px;
    margin-bottom: -20px; */
  }

  p {
    font-size: 0.8rem;
    font-weight: bold;
  }
  #contain {
    height: 650px;
    width: 40%;
    /* border: 1px solid rgb(78, 76, 76); */
    margin: auto;
    /* border-color: rgb(78, 76, 76); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  h3 {
    margin-top: 30px;
    margin-left: 25px;
    font-weight: lighter;
    font-family: poppins, sans-serif;
  }

  #ins {
    height: -1px;
    width: 90%;
    border: 1px solid rgb(205, 201, 201);
    background-color: rgb(78, 76, 76);
    margin: auto;
  }
  span {
    color: rgb(247, 70, 70);
  }
  #p1 {
    margin-right: 470px;
    font-size: 0.9rem;
    font-weight: light;
    color: rgb(90, 89, 89);
  }
  #input1 {
    padding: 8px 50px 8px 15px;
    margin-left: 26px;
    margin-top: -15px;
  }
  #p2 {
    margin-left: 130px;
    margin-top: -88px;
    font-size: 0.9rem;
    font-weight: light;
    color: rgb(90, 89, 89);
  }
  #input2 {
    margin-left: 330px;
    padding: 8px 50px 8px 15px;
    margin-top: -10px;
  }
  #coding {
    margin-top: 30px;
    margin-left: 24px;
    /* padding: 2px 2px 2px 2px; */
  }
  #lab {
    font-size: 0.9rem;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(108, 106, 106);
  }
  #p3 {
    margin-right: 510px;
    font-size: 0.9rem;
    font-weight: light;
    color: rgb(90, 89, 89);
  }
  #input3 {
    /* margin-left: 330px; */
    padding: 8px 360px 8px 15px;
    margin-top: -10px;
    margin-left: 25px;
  }
  #input4 {
    /* margin-left: 330px; */
    padding: 8px 360px 8px 15px;
    margin-top: -10px;
    margin-left: 25px;
  }
  #input5 {
    /* margin-left: 330px; */
    padding: 8px 360px 8px 15px;
    margin-top: -10px;
    margin-left: 25px;
  }
  #input6 {
    /* margin-left: 330px; */
    padding: 8px 360px 8px 15px;
    margin-top: -10px;
    margin-left: 25px;
  }
  #p4 {
    margin-right: 480px;
    font-size: 0.9rem;
    font-weight: light;
    color: rgb(90, 89, 89);
  }
  #h3 {
    font-family: "poppins", sans-serif;
    font-size: 0.9rem;
    margin-top: 3px;
  }
  #p5 {
    margin-right: 425px;
    font-size: 0.9rem;
    font-weight: light;
    color: rgb(90, 89, 89);
  }
  #submit {
    margin-top: 40px;
    margin-left: 28px;
    padding: 8px 20px 8px 20px;
    background-color: rgb(72, 72, 72);
    color: white;
    border-color: rgb(72, 72, 72);
    /* outline-style: hidden; */
  }
  #submit:hover {
    background-color: #dd0285;
    color: white;
    border-color: #dd0285;
    transition: 0.4s ease-in;
    transition: 0.4s ease-out;
  } 



  #navbar{
    width: 100%;
    height: 70px;
    border: 1px solid;
  }
  #navbar>div{
    margin-left: 4%;
    width: 7%;
    background-color: #dd0285;
    border-radius: 5px;
    height: 50%;
  }
